{% extends 'base.html' %}

{% block style %}
<style>
    #bigfivemain {
        width:100%;
        margin-left: 50px;
        margin-right: 50px;
    }
    #bigfivemain .row {
        display: flex;
        height: 60em;
        text-align: center;
        
    }    
    .startBtn {
        height: 50px;
        margin-left: 45%;
        margin-right: 45%;
        text-align: center;
        border-radius: 5px;
    }
    .startBtn:hover {
        background-color: skyblue;
    }
</style>
{% endblock %}

{% block body %}
<div id="bigfivemain">
    <h1 class="" style="text-align:center; margin-top: 5rem; margin-bottom: 5rem;">성격 테스트</h1>
    <text style="font-size: 20px;">
        이 무료 테스트를 통하여 자신의 성격을 알아보세요. 
    </text>
    <hr>
    <div class="row">
        <p style="font-size: 50px; text-align:center;">나랑 닮은 애니메이션 캐릭터는 ?</p>
        <button type="button" class="startBtn" onClick="location.href='/accounts/create/'">시작하기</button>
    </div>
    <hr>
    <text>
        ※ 아래와 같은 논문을 참고한 사이트 IPIP를 인용하여 작성된 설문입니다. ※<br>
        Goldberg, L. R. (1992). The development of markers for the Big-Five factor structure. Psychological Assessment, 4, 26-42.
        Johnson, J. A. (2014). Measuring thirty facets of the Five Factor Model with a 120-item public domain inventory: Development of the IPIP-NEO-120. Journal of Research in Personality, 51, 78-89.
    </text>

</div>
{% endblock %}