{% extends 'base.html' %}

{% block style %}
<style>
    #bigfivetest {
        width:100%;
        margin-left: 50px;
        margin-right: 50px;
    }
    #collection {
        display: block;
    }
    #bigfivetest .answer {
        border: 1px solid black;
        border-radius: 5px;
        margin: 5px 0 5px;
        
        font-size:1em;
        /* pointer-events: none; */
    }
    .answer:hover {
        cursor: pointer;
        background-color: skyblue;
        color : black;
    }
</style>
{% endblock %}

{% block body %}
<div id="bigfivetest">
    <h1 style="text-align:center; margin-top: 5rem; margin-bottom: 3rem;">bigfive 설문</h1>
    <hr>

    <div class="row">
        <ul id="collection" >
            {% for test in test_lists %}
                <li id="q{{forloop.counter}}" style="display:list-item; {% if forloop.counter != 1 %} visibility:hidden; {% else %} visibility: visible;{% endif %}">
                    <div class="qeustion_wrapper" >
                        <div class="question_{{test.pk}}">
                            {% if test.question_ko %}
                                <b>{{ test.question_ko }}</b>
                            {% else %}
                                <b>{{ test.question }}</b>
                            {% endif %}
                        </div>
                        <div class="answer" value="1" v-on:click="keepscore({{test.pk}}, {{forloop.counter}}, 1)">전혀 그렇지 않다.</div>
                        <div class="answer" value="2" v-on:click="keepscore({{test.pk}}, {{forloop.counter}}, 2)">그렇지 않다.</div>
                        <div class="answer" value="3" v-on:click="keepscore({{test.pk}}, {{forloop.counter}}, 3)">보통이다.</div>
                        <div class="answer" value="4" v-on:click="keepscore({{test.pk}}, {{forloop.counter}}, 4)">약간 그렇다.</div>
                        <div class="answer" value="5" v-on:click="keepscore({{test.pk}}, {{forloop.counter}}, 5)">매우 그렇다.</div>
                    </div>
                </li>
                
            {% endfor %}

        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var testapp = new Vue({
        el: '#bigfivetest',
        delimiters: ['[[', ']]'],
        data : {
            username : window.sessionStorage['username'],
            scorelist : {},
            test_num : 0,
            user_info : [],
            success : 0,
            user_pk : 0,
        },
        methods : {
            async goresult(user_pk, test_num) {
                console.log("result")
                
                // location.href = `/bigfive/result/${user_pk}/${test_num}`
            },
            async keepscore(test_pk, idx, value) {
                // console.log("들어옴")
                console.log(test_pk, idx, value)
                
                question = document.querySelector(`#q${idx}`)
                console.log(question)

                if (idx === this.test_num) {
                    this.scorelist[test_pk] = value

                    // user 가져오기
                    var users_res = await axios.get('/accounts/user/')
                    var users = users_res.data
                    // console.log(users)
                    for(var i=0; i < users.length; i++) {
                        if (users[i]['name'] === this.user_info[0] && users[i]['age'] === this.user_info[1] && users[i]['gender'] === this.user_info[2]) {
                            this.user_pk = users[i]['id'];
                            console.log(this.user_pk)
                            }
                        }
                    
                    // 점수 저장하기
                    for(test in this.scorelist) {
                        // console.log(test, this.scorelist[test])

                        var url = `/bigfive/save/${test}/${this.scorelist[test]}/${this.user_pk}/`

                        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
                        axios.defaults.xsrfCookieName="csrftoken"
                        axios.defaults.xsrfHeaderName="X-CSRFToken"
                        var is_save_ok = await axios({
                                methods : 'post',
                                url : url,
                                data : this.user_info
                            })
                        // console.log(is_save_ok)
                    }
                    
                    
                    
                    await this.goresult(this.user_pk, this.test_num)
                    
                    

                } else {
                    
                    this.scorelist[test_pk] = value
                    // console.log(typeof(this.scorelist))
                    
                    // 다른거 안보이기
                    question.style.visibility = 'hidden';
                    question.style.display = 'none';
                    var next_question = document.querySelector(`#q${idx+1}`)
                    // console.log(next_question)
                    next_question.style.visibility = 'visible';
                }

                

            },
        
        },
        mounted() {
            this.test_num = parseInt(window.location.href.split('/')[5])
            this.user_info = [window.sessionStorage['username'], parseInt(window.sessionStorage['userage']), window.sessionStorage['usergender']]
            console.log(this.user_info)

            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
            axios.defaults.xsrfCookieName="csrftoken"
            axios.defaults.xsrfHeaderName="X-CSRFToken"

            
            

        }
    })
</script>
{% endblock %}