{% extends 'base.html' %}

{% block style %}
<style>
    #bigfivetest {
        width:100%;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>
{% endblock %}

{% block body %}
<div id="bigfivetest">
    <h1></h1>
    <div class="row" style="">
        {% for test in test_lists %}
            
            <p>{{ test.question }}</p>
            <label>
                
            </label>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var testapp = new Vue({
        el: '#bigfivetest',
        delimiters: ['[[', ']]'],
        data : {
            username : window.sessionStorage['username']
        },
        methods : {
            
        
        }
    })
</script>
{% endblock %}