{% extends 'base.html' %}

{% block style %} 
<style>
    #signup {
        /* text-align: center; */
        height: 800px;
        width: 100%;
        padding: 20px 20px 20px 20px;
        /* justify-content: center; */

    }
    #signupform {
        display : inline-block;
        padding: 20px 20px 20px 20px;
        
    }
    .row {
        margin-bottom: 10px;
    }
    label {
        width: 100px;
    }
    .sign_in_up_input_age {
        width : 500px;
    }
    .sign_in_up_input_name {
        width : 500px;
    }
    .submitBtn {
        text-align: center;
    }
</style>


{% endblock %}

{% block body %}
<div id="signup">
    <form class="modal-contentsignup" action="/accounts/create/" method="POST">
      {% csrf_token %}
      <h1 style="text:bold;text-align:center">당신의 정보를 알려주세요</h1>
      <hr>
      <div id="signupform" class="container" style="flow">
        
        <div class="row">
            <label class="label" for="nickname"><b>닉네임</b></label>
            <input class="sign_in_up_input_name" type="text" placeholder="당신만의 닉네임을 적어주세요." name="name" required>
            <br>
        </div>

        <div class="row">
            <label class="label" for="age"><b>나이</b></label>
            <input class="sign_in_up_input_age" type="text" placeholder="만 20세 이상부터 가능합니다. 나이를 적어주세요." name="age" required>
            <br>
        </div>

        <div class="row">
            <label class="label" for="gender"><b>성별</b></label>
            <input class="sign_in_up_input_gender" style="margin-top:10px;margin-bottom:10px" type="radio" name="gender" value="m" required>남성 &nbsp;
            <input class="sign_in_up_input_gender" style="margin-top:10px;margin-bottom:10px" type="radio" name="gender" value="f" required>여성 &nbsp;
            <input class="sign_in_up_input_gender" style="margin-top:10px;margin-bottom:10px" type="radio" name="gender" value="o" required>기타<br>
        </div>
  
  
        <div class="submitBtn">
          <input type="submit" class="sign_in_up" value="확인">
          <!-- <input type="button" onclick="document.getElementById('id02').style.display='none'" class="cancel" value="Cancel"> -->
        </div>
      </div>
    </form>
</div>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(".sign_in_up_input_name").change(function(){
        //실행할 내용
        var name = document.querySelector('.sign_in_up_input_name').value
        window.sessionStorage.setItem('username', name)
        console.log(window.sessionStorage)
    });
    $(".sign_in_up_input_age").change(function(){
        //실행할 내용
        var age = document.querySelector('.sign_in_up_input_age').value
        window.sessionStorage.setItem('userage', age)
        console.log(window.sessionStorage)
    });
    $(".sign_in_up_input_gender").change(function(){
        //실행할 내용
        var gender = document.querySelector('.sign_in_up_input_gender:checked').value
        window.sessionStorage.setItem('usergender', gender)
        console.log(window.sessionStorage)
    });

</script>
{% endblock %}
