{% extends 'base.html' %}

{% block style %} 
<style>
label {
    font-size: 2vh;
    display:block;
}
.sign_in_up {
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    height: fit-content;
    width: 80%;
    font-size: large;
    padding: 0.7em;
}
.box-content {
    background-color:white;
    border: 2px solid cornflowerblue;
    padding: 2em 2em;
    text-align: left;
}
.sign_in_up_input_name {
    width:100%;
    height: 3vh;
}
.sign_in_up_input_age {
    width:100%;
    height: 3vh;
}

</style>


{% endblock %}

{% block body %}
{% load static %}
<div class="account h-100">
    <div class="container h-75">
        <div class="row h-75">
        <div class="col-lg-12 my-auto">
            <div class="account-content mx-auto">
            <h1 class="p-5 my-auto" style="">당신은 누구?</h1>
            <div class="box-content">
                <img src="{% static 'notice/images/엘사1.png' %}" style="max-width:100%; width:100%;" height="auto">
                <p class="mb-5" style="padding-top:5em; font-size:1em;">이 무료 테스트를 통하여 자신의 성향을 알아보세요.</p>
                <form class="modal-contentsignup" action="/accounts/create/" method="POST">
                    {% csrf_token %}
                    <div id="signupform" class="" style="flow">
                      {% for message in messages %}
                          {% if message.tags %}
                              <p>※ {{ message }} ※</p><br>
                          {% endif %}
                      {% endfor %}
                      <div class="mb-5">
                          <label class="label" for="nickname"><b>닉네임</b></label>
                          <input class="sign_in_up_input_name" type="text" placeholder="당신만의 닉네임을 적어주세요." name="name" required>
                          <br>
                      </div>
              
                      <div class="mb-5">
                          <label class="label" for="age"><b>나이</b></label>
                          <p>만 20세 이상부터 만 70세 이하만 가능합니다.</p>
                          <input class="sign_in_up_input_age" type="text" placeholder="나이를 적어주세요." name="age" required>
                          <br>
                      </div>
              
                      <div class="mb-5">
                          <label class="label" for="gender"><b>성별</b></label>
                          <input class="sign_in_up_input_gender" style="margin-top:10px;margin-bottom:10px" type="radio" name="gender" value="m" required>남성 &nbsp;
                          <input class="sign_in_up_input_gender" style="margin-top:10px;margin-bottom:10px" type="radio" name="gender" value="f" required>여성 &nbsp;
                          <input class="sign_in_up_input_gender" style="margin-top:10px;margin-bottom:10px" type="radio" name="gender" value="o" required>기타<br>
                      </div>
                
                      <div class="submitBtn" style="text-align: center;">
                        <input type="submit" class="sign_in_up" value="확인">
                        <!-- <input type="button" onclick="document.getElementById('id02').style.display='none'" class="cancel" value="Cancel"> -->
                      </div>
                    </div>
                  </form>            
                </div>
        </div>
        </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(".sign_in_up_input_name").change(function(){
        //실행할 내용
        var name = document.querySelector('.sign_in_up_input_name').value
        window.sessionStorage.setItem('username', name)
        console.log(window.sessionStorage)
    });
    $(".sign_in_up_input_age").change(function(){
        //실행할 내용
        var age = document.querySelector('.sign_in_up_input_age').value
        window.sessionStorage.setItem('userage', age)
        console.log(window.sessionStorage)
    });
    $(".sign_in_up_input_gender").change(function(){
        //실행할 내용
        var gender = document.querySelector('.sign_in_up_input_gender:checked').value
        window.sessionStorage.setItem('usergender', gender)
        console.log(window.sessionStorage)
    });

</script>
{% endblock %}
