<footer class="footer fixed-bottom bg-light" style="height:200px;">
    <div class="container-flud">
        <div class="row" style="width: 80%; text-align: center;">
            {% load static %}
            <div class="col-2"></div>
            <div class="col-4" style="margin-top: 50px;">
                <img src="{% static 'notice/images/group_1.png' %}"><br>
                <p>@2019 KI4AI all rights reserved</p>
            </div>
            <div class="col-4" style="margin-top: 50px; font-size: 20px; text-align: left;">
                <p>KAIST, 291 Daehak-ro-Yuseong-gu, Daejeon 34141, Republic of Korea<br>
                Tel: +82-42-350-7091~7095<br>
                Fax: +82-42-350-8490<br>
                Mail: <a href="mailto:ki4ai@kiast.ac.kr">ki4ai@kaist.ac.kr</a></p><br>
            </div>
        </div>
    </div>
</footer>