{% extends 'base.html' %}

{% block style %} 
<style>
    #about {
        width:90%;height:500px;
        background-image:url();
        background-repeat:no-repeat;
        background-position:top center;
        background-size:auto;
    }
    .aboutemoca {
        margin-top: 61px;
        text-align: center;
        padding: 0 24px;
    }

</style>


{% endblock %}

{% block body %}
<div id="about">
    <img src="">
    <div class="aboutemoca">
        <h1>EmoCA란?</h1>
        <h2>감성추론을 기반으로 하는 인공지능 챗봇 입니다. <br>EmoCA와 함께 행복한 대화를 할 수 있습니다.</h2>
    </div>
    <div class="">
        
    </div>
</div>
{% endblock %}