{% extends 'base.html' %}
{% load static %}
{% block style %} 



{% endblock %}

{% block body %}
<header class="detail" id="detail">
    <div class="container h-100">
        <div class="row h-100">
        <div class="col-lg-12 my-auto">
            <div class="detail-content mx-auto">
                <!-- Post Content Column -->
                <!-- Title -->
                <h1 class="mb-5 doubleline">{{post.title}}</h1>
            
                <!-- Date/Time -->
                <p>{{post.created_at}}</p>

                <!-- Author -->
                <p>by 관리자</p>
                <hr>
                
                <!-- File -->
                <span style="display: inline;">첨부파일 다운로드</span>
                <p>
                    {% if post.file %}
                    <a id="id_upload_file" href="{{post.file.url}}" download>{{ post.file }}</a>
                    {% else %}
                    <p style="vertical-align: middle;">첨부파일 없음</p>
                    {% endif %}
                </p>
                
                <hr>
                
                <!-- Post Content -->
                <p>{{post.content|safe}}</p>
                <hr>
                

                <div class="buttonlist">
                    <button type="button" class="btn btn-primary" onClick="javascript:history.go(-1);">이전</button>
                    <button type="button" class="btn"><a class="page-link" href="#" @click="back">목록</a></button>
                    {% if request.user.is_staff %}
                    <button type="button" class="btn btn-danger" onclick="location.href='/notice/delete/{{post.id}}'">삭제</button>
                    <button type="button" class="btn btn-info" onclick="location.href='/notice/update/{{post.id}}'">수정</button>    
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</header>
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script>
    var noticeapp = new Vue({
        el: '#detail',
        methods : {
            back() {
                var url = window.location.href
                var url2 = url.split('http://127.0.0.1:8000/notice/detail/')[1]
                url2 = url2.split('/')[0]
                url2 *= 1
                url2 = Math.ceil(url2 / 10)
                console.log(url2)
                location.href=`/notice/lists/${url2}/`
            },
        
        }
    })
</script>
{% endblock %}