{% extends 'base.html' %}
{% load static %}
{% block style %} 
<style>
    #detail {

    }
    .container {
        margin-top: 50px;
;
    }
    .row {
        margin-top: 10px;
    }
    td {
        margin-right: 10px;
    }
</style>


{% endblock %}

{% block body %}
    <div id="detail">
        <div class="container">
            <h1></h1>
            {% if request.user.is_staff %}
            <button type="button" class="btn btn-secondary"><a href="{% url 'notice:noticedelete' post.id %}">삭제</a></button>
            {% endif %}
            <thead>

            </thead>
            <tbody>
                <table>
                <tr>
                    <td>번호</td>
                    <td>{{ post.id }}</td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td>{{ post.title }}</td>
                </tr>
                <tr>
                    <td>첨부파일</td>
                    {% if post.file %}
                    <td><a id="id_upload_file" href="{{post.file.url}}" download>{{ post.file }}</a></td>
                    {% else %}
                    <td><p>x</p></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>내용</td>
                    <td>{{ post.content|safe }}</td>
                </tr>
                <tr>
                    <td>작성시간</td>
                    <td>{{ post.created_at }}</td>
                </tr>
                </table>
            </tbody>
            <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
            <a class="page-link" href="#" @click="back">뒤로가기</a>
        </div>
            

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script>
        var noticeapp = new Vue({
            el: '#detail',
            methods : {
                back() {
                    var url = window.location.href
                    var url2 = url.split('http://127.0.0.1:8000/notice/detail/')[1]
                    url2 = url2.split('/')[0]
                    url2 *= 1
                    url2 = Math.ceil(url2 / 10)
                    console.log(url2)
                    location.href=`/notice/lists/${url2}/`
                },
            
            }
        })
    </script>
{% endblock %}