{% extends 'base.html' %}

{% block style %} 
<style>
    #notice {

    }
    .container {
        margin-top: 50px;
;
    }
    .row {
        margin-top: 10px;
    }
</style>


{% endblock %}

{% block body %}
    <div id="notice">
        
        {% if messages %}
            {% for message in messages %}
                <p v-model="message" style="display:none;">{{message}}</p>
            {% endfor %}
        {% endif %}

        
        <div class="container">
            <div class="row justify-content-end mb-5">
                <button type="button" class="btn btn-light" onClick="location.href='/notice/create/'">글쓰기</button>
            </div>
            <div class="row">
                  {% for post in contents %}
                  <div class="col-6">
                    <div class="card">
                      <div class="card-header">공지사항1</div>
                      <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">번호1</p>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text">{{ post.created_at }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script>
        var noticeapp = new Vue({
            el: '#notice',
            delimiters: ['[[', ']]'],
            data: {
                message : ''
            },
            methods : {
            },
            mounted() {
                if (this.message) {
                        alert(this.message)
                    }
            }
        })


    </script>
{% endblock %}