{% extends 'base.html' %}

{% block style %} 
<style>
    #notice {

    }
    .container {
        margin-top: 250px;
;
    }
    .row {
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .th-sm {
        text-align: center;
    }
    td {
        text-align: center;
    }
</style>


{% endblock %}

{% block body %}
    <div id="notice">
        
        {% if request.user.is_staff %}
            <div class="row d-flex justify-content-end">
                <button onClick="location.href='/notice/create/'">글쓰기</button>
            </div>
        {% else %}
            <div class="row" style="visibility: hidden;">
                <button onClick="location.href='/notice/create/'">글쓰기</button>
            </div>
        {% endif %}
                
        <div class="row">

            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm" style="width:5%">번호</th>
                        <th class="th-sm" style="width:70%">제목</th>
                        <th class="th-sm" style="width:25%">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in contents %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td><a href="{% url 'notice:noticedetail' post.id %}">{{ post.title }}</a></td>
                        <td>{{ post.created_at }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
                
            </table>
        </div>
        <div class="row">

            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#" @click="previous">Previous</a></li>
                   
                    {% for count in contents_length %}
                        <li class="page-item"><a class="page-link" href="#" @click="listchange({{ count }})">{{ count }}</a></li>
                    {% endfor %}
                    <!-- {% if contents|length == 11 %}
                    <p>dd</p>
                    {% endif %} -->
                    
                    <li class="page-item"><a class="page-link" href="#" @click="next({{pagecount}})">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script>
        
        var noticeapp = new Vue({
            el: '#notice',
            delimiters: ['[[', ']]'],
            data: {
                message : ''
            },
            methods : {
                listchange(pagenum) {
                    location.href=`/notice/lists/${pagenum}`
                },
                previous() {
                    var url = window.location.href
                    var url2 = url.split('http://127.0.0.1:8000/notice/lists/')[1]
                    url2 = url2.split('/')[0]
                    url2 *= 1
                    if (url2 > 1) {
                        url2 -= 1
                    }
                    location.href=`/notice/lists/${url2}`
                },
                next(pagecount) {
                    var url = window.location.href
                    var url2 = url.split('http://127.0.0.1:8000/notice/lists/')[1]
                    url2 = url2.split('/')[0]
                    url2 *= 1
                    if (url2 < pagecount) {
                        url2 += 1
                    }
                    location.href=`/notice/lists/${url2}`
                }
            },
            mounted() {
                if (this.message) {
                        alert(this.message)
                    }
            }
        })
    </script>
{% endblock %}