{% extends 'base.html' %}

{% block style %} 



{% endblock %}

{% block body %}
{% load static %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
        <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
            <img src="{% static 'notice/images/group@2x_1.png' %}">
            <h1 class="mb-3 mt-2">EMOCA</h1>
            <h1 class="mb-5">기분 좋은 대화 챗봇</h1>
            <h3 class="mb-5">EMOCA와 함께 즐거운 감성대화를 시작해 보세요!</h2>
            <button type="button" onclick="location.href='/notice/lists/1'" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Happiness!</button>
            </div>
        </div>
        </div>
    </div>
</header>

{% endblock %}