{% extends 'base.html' %}

{% block style %} 



{% endblock %}

{% block body %}
{% load static %}
<header class="updateNotice">
    <div class="container h-75">
        <div class="row h-75">
        <div class="col-lg-12 my-auto">
            <div class="updateNotice-content mx-auto">
              <form class="modal-contentsignup" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="createdspace">
                    {{ post_form.media }}
                    {{post_form.as_p}}
                </div>
          
                  <div class="submitBtn">
                    <input type="submit" class="sign_in_up" value="확인">
                  </div>
                </div>
              </form>
            </div>
        </div>
        </div>
    </div>
</header>

{% endblock %}